<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gave Inspiration</title>
  <link rel="stylesheet" href="gave-inspiration.css">
</head>
<div class="topbar">
  <h1>Wishlist</h1>
  <div class="top-buttons"></div>
  <button>Opret</button>
  <button>Login</button>
</div>
<body>
<nav>
  <main class="grid">

    <a href="https://www.fætterbr.dk" target="_blank" class="box">
      <img src="images/img.png" alt="Legetøj">
      <div class="overlay">
        <h2>Legetøj</h2>
        <p>Fætter BR</p>
      </div>
    </a>

    <a href="https://www.ikea.com/dk/da/" target="_blank" class="box">
      <img src="images/img.png" alt="Møbler">
      <div class="overlay">
        <h2>Møbler</h2>
        <p>IKEA</p>
      </div>
    </a>

    <a href="https://www.elgiganten.dk" target="_blank" class="box">
      <img src="images/tech.jpg" alt="Teknologi">
      <div class="overlay">
        <h2>Teknologi</h2>
        <p>Elgiganten</p>
      </div>
    </a>

    <a href="https://www.matas.dk" target="_blank" class="box">
      <img src="images/tech.jpg" alt="Skønhed">
      <div class="overlay">
        <h2>Skønheds produkter</h2>
        <p>Matas</p>
      </div>
    </a>

    <a href="https://www.imerco.dk" target="_blank" class="box">
      <img src="images/tech.jpg" alt="køkkenudstyr">
      <div class="overlay">
        <h2>Køkkenudstyr</h2>
        <p>Imerco</p>
      </div>
    </a>

    <a href="https://www.Zara.dk" target="_blank" class="box">
      <img src="images/tech.jpg" alt="Tøj">
      <div class="overlay">
        <h2>Tøj</h2>
        <p>Zara</p>
      </div>
    </a>

    <a href="https://www.intersport.dk" target="_blank" class="box">
      <img src="images/tech.jpg" alt="sport">
      <div class="overlay">
        <h2>Sport</h2>
        <p>Intersport</p>
      </div>
    </a>

    <a href="https://www.bog-ide.dk" target="_blank" class="box">
      <img src="images/tech.jpg" alt="Skole">
      <div class="overlay">
        <h2>Skole Ting</h2>
        <p>Bog&Ide</p>
      </div>
    </a>

    <a href="https://www.icebox.com" target="_blank" class="box">
      <img src="images/tech.jpg" alt="smykker">
      <div class="overlay">
        <h2>Smykker</h2>
        <p>IceBox</p>
      </div>
    </a>

  </main>
</nav>

</body>
</html>