<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gave Inspiration</title>
  <link rel="stylesheet" href="static/gave-inspiration.css">
</head>
<body>

<header class="topbar">
  <a href="Index.html" class="home">Home</a>

  <h1>Wishlist</h1>

  <div class="auth">
    <a href="register-page.html" class="home">Opret</a>
    <a href="login-page.html" class="home">Login</a>
  </div>
</header>
  <main class="grid">

    <a href="https://www.fætterbr.dk" target="_blank" class="box">
      <img src="images/img.png" alt="Legetøj">
      <div class="overlay">
        <h2>Legetøj</h2>
        <p>Fætter BR</p>
      </div>
    </a>

    <a href="https://www.ikea.com/dk/da/" target="_blank" class="box">
      <img src="images/img_1.png" alt="Møbler">
      <div class="overlay">
        <h2>Møbler</h2>
        <p>IKEA</p>
      </div>
    </a>

    <a href="https://www.elgiganten.dk" target="_blank" class="box">
      <img src="images/img_2.png" alt="Teknologi">
      <div class="overlay">
        <h2>Teknologi</h2>
        <p>Elgiganten</p>
      </div>
    </a>

    <a href="https://www.matas.dk" target="_blank" class="box">
      <img src="images/img_3.png" alt="Skønhed">
      <div class="overlay">
        <h2>Skønheds produkter</h2>
        <p>Matas</p>
      </div>
    </a>

    <a href="https://www.imerco.dk" target="_blank" class="box">
      <img src="images/img_4.png" alt="køkkenudstyr">
      <div class="overlay">
        <h2>Køkkenudstyr</h2>
        <p>Imerco</p>
      </div>
    </a>

    <a href="https://www.Zara.dk" target="_blank" class="box">
      <img src="images/img_5.png" alt="Tøj">
      <div class="overlay">
        <h2>Tøj</h2>
        <p>Zara</p>
      </div>
    </a>

    <a href="https://www.intersport.dk" target="_blank" class="box">
      <img src="images/img_6.png" alt="sport">
      <div class="overlay">
        <h2>Sport</h2>
        <p>Intersport</p>
      </div>
    </a>

    <a href="https://www.bog-ide.dk" target="_blank" class="box">
      <img src="images/img_7.png" alt="Skole">
      <div class="overlay">
        <h2>Skole Ting</h2>
        <p>Bog&Ide</p>
      </div>
    </a>

    <a href="https://www.icebox.com" target="_blank" class="box">
      <img src="images/img_8.png" alt="smykker">
      <div class="overlay">
        <h2>Smykker</h2>
        <p>IceBox</p>
      </div>
    </a>

  </main>
</nav>

</body>
</html>