<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist - Login</title>
    <link rel="stylesheet" href="static/login-page.css">
</head>
<body>
<form th:action="@{/login}" method="post" th:object="${user}">

    <!--    <div>-->
    <!--        <label for="username">Brugernavn:</label>-->
    <!--        <input type="text" th:field="*{username}" id="username" required/>-->
    <!--    </div>-->
    <h1>Login</h1>
    <a href="index.html" class="home">Gå tilbage</a>

    <div>
        <label for="username">Brugernavn:</label>
        <input type="text" name="username" id="username" required/>
    </div>

    <div>
        <label for="password">Adgangskode:</label>
        <input type="password" name="password" id="password" required/>
    </div>


    <button type="submit">Login</button>
    <button>Glemt kode</button>


</form>

</body>
</html>