
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Top bar */
.topbar {
    border-bottom: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.topbar h1 {
    margin: 0;
}

.top-buttons {
    position: absolute;
    right: 10px;
}

.top-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
}

/* Layout */
.container {
    display: flex;
    padding: 20px;
}

.left {
    flex: 2;
    margin-right: 20px;
}

.right {
    flex: 1;
}

.box {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 150px;
}

.big-box {
    height: 300px;
}

.StorKnap {
    justify-self: start;
    text-decoration: none;
    color: black;

    padding: 12px 18px;
    background-color: greenyellow;
    border-radius: 8px;
    display: inline-block;
}

.partner-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.gaver-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.home {
    justify-self: start;
    text-decoration: none;
    color: black;

    padding: 6px 12px;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: inline-block;
}
